*RES*

*password*

class

#Week 1: Day 1
pure

# Week 1: Day 2

py_file
Python_I_Precurse

# Week 1: Day 4
Python_III_Precurse

# Week 2: 
reto_10_katas

# Week 3: Day 1
4_comprehension
functions_summary




# Byte-compiled / optimized
_pycache_/

